body {
 background-color: rgb(175, 238, 238);
 justify-content: center;
 justify-items: center;
 text-align: justify;
 text-justify: center;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "nunito";
    font-weight: 100;
}

div {
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: "nunito";
    font-weight: 100;
}
